# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# If the Flash sector size is ommitted, this value is assumed to
# be the same as the Environment size.

# Block device example
# needs to match the following in u-boot defconfig
# CONFIG_ENV_SIZE=0x4000
# CONFIG_ENV_OFFSET=0x700000
/dev/mmcblk0		0x700000	0x4000

