// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 NXP
 */

 /dts-v1/;

 #include <dt-bindings/usb/pd.h>
 #include "imx93-cargt-00363-osm-som.dts"

 / {
	 model = "Cargt i.MX93 00363 OSM-L SOM on 00428 carrier board";

	 aliases {
		 rtc0 = &rtc_i2c;
		 rtc1 = &bbnsm_rtc;
	 };

	 reg_carrier_pwr_en: regulator-carrier-pwr-en {
		 compatible = "regulator-fixed";
		 pinctrl-names = "default";
		 pinctrl-0 = <&pinctrl_reg_carrer_pwr_en>;
		 regulator-name = "carrier-pwr-en";
		 regulator-min-microvolt = <3300000>;
		 regulator-max-microvolt = <3300000>;
		 gpio = <&gpio1 10 GPIO_ACTIVE_HIGH>;
		 off-on-delay-us = <12000>;
		 enable-active-high;
		 regulator-boot-on;
		 regulator-always-on;
	 };

	 reg_usb2_vbus: regulator-usb2-vbus {
		 pinctrl-names = "default";
		 pinctrl-0 = <&pinctrl_usb2_vbus>;
		 compatible = "regulator-fixed";
		 regulator-name = "USB2_VBUS_EN";
		 regulator-min-microvolt = <5000000>;
		 regulator-max-microvolt = <5000000>;
		 gpio = <&gpio2 9 GPIO_ACTIVE_HIGH>;
		 enable-active-high;
	 };
 };

 &lpi2c2 {
	 #address-cells = <1>;
	 #size-cells = <0>;
	 clock-frequency = <400000>;
	 pinctrl-names = "default", "sleep";
	 pinctrl-0 = <&pinctrl_lpi2c2>;
	 pinctrl-1 = <&pinctrl_lpi2c2>;
	 status = "okay";

	 ptn5110: tcpc@51 {
		 compatible = "nxp,ptn5110";
		 reg = <0x51>;
		 pinctrl-names = "default";
		 pinctrl-0 = <&pinctrl_ptn5110_51>;
		 interrupt-parent = <&gpio2>;
		 interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
		 status = "okay";

		 port {
			 typec1_dr_sw: endpoint {
				 remote-endpoint = <&usb1_drd_sw>;
			 };
		 };

		 typec1_con: connector {
			 compatible = "usb-c-connector";
			 label = "USB-C";
			 power-role = "dual";
			 data-role = "dual";
			 try-power-role = "sink";
			 source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			 sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
					 PDO_VAR(5000, 20000, 3000)>;
			 op-sink-microwatt = <15000000>;
			 self-powered;
		 };
	 };
 };

 &lpi2c3 {
	 #address-cells = <1>;
	 #size-cells = <0>;
	 clock-frequency = <400000>;
	 pinctrl-names = "default", "sleep";
	 pinctrl-0 = <&pinctrl_lpi2c3>;
	 pinctrl-1 = <&pinctrl_lpi2c3>;
	 status = "okay";
  };

 &lpi2c6 {
	 status = "okay";
 };

 &eqos {
	 pinctrl-names = "default";
	 pinctrl-0 = <&pinctrl_eqos>, <&pinctrl_eth_rst>;
	 phy-mode = "rgmii-id";
	 phy-handle = <&ethphy1>;
	 snps,reset-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
	 snps,reset-delays-us = <10 20 200000>;
	 status = "okay";

	 mdio {
		 compatible = "snps,dwmac-mdio";
		 #address-cells = <1>;
		 #size-cells = <0>;
		 clock-frequency = <5000000>;

		 ethphy1: ethernet-phy@0 {
			 compatible = "ethernet-phy-ieee802.3-c22";
			 reg = <0>;
			 eee-broken-1000t;
		 };
	 };
 };

 &usbotg1 {
	  dr_mode = "otg";
	  hnp-disable;
	  srp-disable;
	  adp-disable;
	  usb-role-switch;
	  disable-over-current;
	  samsung,picophy-pre-emp-curr-control = <3>;
	  samsung,picophy-dc-vol-level-adjust = <7>;
	  status = "okay";

	  port {
		  usb1_drd_sw: endpoint {
			  remote-endpoint = <&typec1_dr_sw>;
		  };
	  };
 };

 &usbotg2 {
	  dr_mode = "host";
	  disable-over-current;
	  vbus-supply = <&reg_usb2_vbus>;
	  samsung,picophy-pre-emp-curr-control = <3>;
	  samsung,picophy-dc-vol-level-adjust = <7>;
	  status = "okay";
 };

 &adc1 {
	 status = "okay";
 };

 &lcdif {
	 status = "disabled";
	 assigned-clock-rates = <445333333>, <148444444>, <400000000>, <133333333>;
 };

 &ldb {
	 status = "disabled";
 };

 &dphy {
	 status = "disabled";
 };

 &dsi {
	 status = "disabled";
 };

 &iomuxc {

	 pinctrl_eqos: eqosgrp {
		 fsl,pins = <
			 MX93_PAD_ENET1_MDC__ENET_QOS_MDC						0x57e
			 MX93_PAD_ENET1_MDIO__ENET_QOS_MDIO						0x57e
			 MX93_PAD_ENET1_RD0__ENET_QOS_RGMII_RD0					0x57e
			 MX93_PAD_ENET1_RD1__ENET_QOS_RGMII_RD1					0x57e
			 MX93_PAD_ENET1_RD2__ENET_QOS_RGMII_RD2					0x57e
			 MX93_PAD_ENET1_RD3__ENET_QOS_RGMII_RD3					0x57e
			 MX93_PAD_ENET1_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x5fe
			 MX93_PAD_ENET1_RX_CTL__ENET_QOS_RGMII_RX_CTL			0x57e
			 MX93_PAD_ENET1_TD0__ENET_QOS_RGMII_TD0					0x57e
			 MX93_PAD_ENET1_TD1__ENET_QOS_RGMII_TD1					0x57e
			 MX93_PAD_ENET1_TD2__ENET_QOS_RGMII_TD2					0x57e
			 MX93_PAD_ENET1_TD3__ENET_QOS_RGMII_TD3					0x57e
			 MX93_PAD_ENET1_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x5fe
			 MX93_PAD_ENET1_TX_CTL__ENET_QOS_RGMII_TX_CTL			0x57e
		 >;
	 };

	 pinctrl_eth_rst: ethrstgrp {
		 fsl,pins = <
			 MX93_PAD_SAI1_RXD0__GPIO1_IO14			0x31e /* ETH_A_RST */
		 >;
	 };

	 pinctrl_lpi2c2: lpi2c2grp {
		 fsl,pins = <
			 MX93_PAD_I2C2_SDA__LPI2C2_SDA			0x40000b9e
			 MX93_PAD_I2C2_SCL__LPI2C2_SCL			0x40000b9e
		 >;
	 };

	 pinctrl_lpi2c3: lpi2c3grp {
		 fsl,pins = <
			 MX93_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			 MX93_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		 >;
	 };

	 pinctrl_pca21: pca21grp {
		 fsl,pins = <
			 MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10 	0x31e
		 >;
	 };

	 pinctrl_ptn5110_51: ptn5110_51grp {
		 fsl,pins = <
			  MX93_PAD_GPIO_IO10__GPIO2_IO10			0x31e
		 >;
	  };

	  pinctrl_usb2_vbus: usb2vbusgrp {
		 fsl,pins = <
			 MX93_PAD_GPIO_IO09__GPIO2_IO09			0x31e /* USB2_VBUS_EN */
		 >;
	  };

	  pinctrl_reg_carrer_pwr_en: carrerpwrengrp {
		 fsl,pins = <
			 MX93_PAD_PDM_BIT_STREAM1__GPIO1_IO10		0x31e
		 >;
	 };

 };

